.js-plotly-plot {
  width: 100% !important;
  height: auto !important;
}

.plot-container.plotly {
  width: 100% !important;
  height: auto !important;
  
}

@media screen and (max-width: 768px) {
  .js-plotly-plot {
    width: 100% !important;
    height: auto !important;
  }
  .plot-container.plotly {
    width: 100% !important;
    height: auto !important;
  }

}